{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style>

  </style>
{% endblock %}
{% block main %}
  <h1>Form without symfony</h1>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>

  </script>
{% endblock %}

